body {
    background-color: lightpink;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.box {
    padding: 5px;
    margin: 20px;
    background-color: antiquewhite;
    border-radius: 20px;
    box-shadow: 0 0 10px;
    animation: myanimation 4s infinite ease-in;
}

@keyframes myanimation {
     0% {width:0 
    }
    50% {
        background-color: black;
        height: px;
    }
    100%{ width:100px;
    }
}

.letters {
    display: flex;
    justify-content: center;
    align-items: center;
	text-transform:uppercase;
	font-size: 80px;
}
.letters p {
    text-align: center;
    border: 4px solid hotpink;
    border-radius: 20px;
    background-color: lightgreen;
    padding: 15px;
    margin-right: 7px;
    text-shadow: 0 0 15px white;
    transition: 2s;
}

.letters:hover p:nth-child(even) {
    transform: scale(0.5);
}

.letters:hover p:nth-child(odd) {
    transform: scale(1.5);
}
